/* import theme from "" */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.login-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 430px;
    background-color: #FFFFFF;
}


.shop-title{
    color: #183A1D;
    text-align: center;
    margin: 0
}

.error-message-user{
    color: red;
    position: absolute;
    top: 92%;
}
.error-message-password{
    color: red;
    position: absolute;
    top: 104%;
}

.none{
    display: none;
}

.login-btn{
    background-color: #F0A04B;
    color: #FFFFFF;
    width: 15rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    align-items: center;
    transition-duration: 0.4s;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.form-label{
    font-size: 12px;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}

.form-input{
    background-color: #EBEBEB;
    border-radius: 6px;
    border:none;
    height: 2rem;
    width: 12rem;
}

input:focus{
    background-color: rgb(240, 195, 147);
}

.login-chair{
    height: 95%;
    width: 95%;
}
