h2{
    margin-top: 20px;
    margin-bottom: 20px
}

.container-product-page{
    height: 800px;
    width: 430px;
    background-color: white;
    border-radius: 0 0 50px 50px;
    display: flex;
    flex-direction: column;
}

.rating-img{
    width: 15px;
    height: 15px
}

.product-page-price{
    color:white;
    margin-top: 3rem;
    font-size: 2rem;
}

.container-addtocart{
    display: flex;
    justify-content:space-around;
    width: 430px;
}

.addtocart-btn{
    background-color: #F0A04B;
    color: #FFFFFF;
    width: 12rem;
    margin-top: 2rem;
    align-items: center;
    transition-duration: 0.4s;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.cart-icon{
    width: 20px;
    height: 20px
}

.productpage-main-img{
    width: 430px;
    position: relative;
}

.productpage-img{
    height: 470px;
    width: 430px;
    border-radius: 0 0 50px 50px;
    /* position: relative; */
}

 .productpage-back-icon{
    position: absolute;
    margin-top: 27px;
    margin-left: 10px;
    border-radius: 50%;
    border: none;
    background-color: #F9F8F6;
    cursor: pointer;
} 

.product-page-alert{
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

.rating-info{
    margin-top: 20px;
}

.color-info{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* .productpage-container-img-icons{
    height: 470px;
    width: 430px;
    border-radius: 0 0 50px 50px;
    position: relative;
} */